.pass{
    width: 100%;
    height: 380px;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/358044.jpg);
    background-position: center;
    background-size: cover;
    font-family: sans-serif;
    color: white;
    padding-top: 10px;
    padding-left: 20px;
}
.pass h1{
    font-size: 30px;
    font-family: sans-serif;
}
.info{
    float: left;
    width: 650px;
    height: 270px;
    background-color: black;
    opacity: 0.8;
    padding-left: 20px;
    padding-top: 10px;
}
label{
    font-size: 25px;
    font-family: sans-serif;
    color: darkorange;
}
input[type=text]{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 25px;
    width: 240px;
    border-bottom: 2px solid white;
}
.btn{
    margin-top: 25px;
    width:250px;
    background: none;
    font-size: 20px;
    border: 2px solid yellowgreen;
    color: white;
    padding: 5px;
}
.btn:hover{
    background-color: white;
    color: black;
}