*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size:10px;
    font-family: calibri;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    background-color: black;
    height: 80px;
}
nav ul{
    float: right;
    margin-right: 100px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color:white;
    font-size: 27px;
    padding: 7px 13px;
}
a:hover{
    background: goldenrod;
    transition: .5s;
}

img{
    max-width: 100%;
    max-height: 100%;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#hero{
    background-size: cover;
    background-position: top center;
    position:relative;
    animation: animate 75s ease-in-out infinite;
}
@keyframes animate{
    0%,100%{
        background-image: url(/img/IMG_0858.JPG);
    }
    25%{
        background-image: url(/img/IMG_0724.jpg);
    }
    50%{
        background-image: url(/img/IMG_0465-2.jpg);
    }
    75%{
        background-image: url(/img/222.jpg);
    }
}
#hero h1{
    display: block;
    width: fit content;
    font-size: 4rem ;
    position: relative;
    color:transparent;
    animation: text_reveal .5 ease forwards;
    animation-delay: 1.5;
}
#hero h1 span{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width:0;
    background-color: darkgoldenrod;
    animation: text_reveal_box 1s ease;
    animation-delay: 1;
}
#hero h1:nth-child(1){
    animation-delay: 2s;
}
#hero h1:nth-child(2){
    animation-delay: 3s;
}
#hero h1:nth-child(3){
    animation: text_reveal_name 0.5 ease forwards;
    animation-delay: 4s;
}

#hero h1:nth-child(1) span{
    animation-delay: 1.5s;
}
#hero h1:nth-child(2) span{
    animation-delay: 2.5s;
}
#hero h1:nth-child(3) span{
    animation-delay: 3.5s;
}
#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#hero .cta{
    display: inline-block;
    padding: 10px 30px;
    color: yellow;
    background-color: transparent;
    border: 2px solid black;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color,color ;
}
#hero .cta:hover{
    color: yellow;
    background: black;
}

@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal{
    100%{
        color:white;
    }
}
@keyframes text_reveal_name{
    100%{
        color: yellow;
        font-height: 700px;
    }
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color:black;
    color: white;
    text-align: center;
    font-size: large;
 }