*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}
header{
    position:absolute;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    animation: animate 40s ease-in-out infinite;
}
@keyframes animate{
    0%,100%{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/ecommerce-urgency-examples.png);
    }
    25%{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/Impact-of-eCommerce-On-Society.jpg);
    }
    50%{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/pngtree-e-commerce-discount-banner-background-image_259173.jpg);
    }
    75%{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/pngtree-e-commerce-texture-cartoon-blue-banner-background-image_128873.jpg);
    }
}
.title{
    position: relative;
    top: 100%;
    left: 50%;
    transform: translate(-50%,50%);
    height: 150px;
    width: 470px;
    padding-left: 20px;
}
.title h1{
    color: transparent;
    color:white;
    font-size: 100px;
    border-bottom: 6px solid blueviolet;
    margin-bottom: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    display: inline-block;
    animation: text_reveal .5s ease forwards;
    animation-delay: 0.7s;
}
@keyframes text_reveal {
    100%{
        color:goldenrod;    
    }
    
}
.title h1 span{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: goldenrod;
    animation: overlay 1s ease forwards;
    animation-delay: .5s;
}
@keyframes overlay{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        left: 100%;
        width: 0;
    }
}
.title h3{
    color:white;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 30px;
    margin-right: 10px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color:aliceblue;
    padding: 5px 20px;
    border: 1px solid white transparent;
    transition: 0.5s ease;
}

ul li a:active{
    background-color: white;
    color: black;  
}
ul li a:hover{
    background-color: white;
    color: black;
}
.logo img{
    float: left;
    width: 100px;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
}
.main{
    max-width: 1200px;
    margin: auto;
}
