.registration{
    background-color:black;
    opacity: 0.8;
    height: 580px;
    width: 650px;
    padding-top: 50px;
    padding-left: 100px;
    color: white;
}
input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 17px;
    width: 140px;
    float: left;
    margin: 10px;
}

.registration h2{
    color: transparent;
    color:white;
    font-size: 30px;
    border-bottom: 4px solid yellowgreen;
    margin-bottom: 20px;
    font-family: sans-serif;
    position: relative;
    display: inline-block;
    animation: text_reveal .5s ease forwards;
    animation-delay: 0.7s;
}
@keyframes text_reveal {
    100%{
        color:goldenrod;    
    }
    
}
.registration p{
    font-size: 15px;
}
.btn{
    margin-top: 25px;
    width:250px;
    background: none;
    font-size: 20px;
    border: 2px solid yellowgreen;
    color: white;
    padding: 5px;
}
.btn:hover{
    background-color: white;
    color: black;
}